<table class="w-full text-left text-gray-800 bg-white rounded-lg shadow-lg">
    <thead class="text-xs text-white uppercase bg-gray-800">
        <tr>
            <th class="px-6 py-3">Metric</th>
            <th class="px-6 py-3 text-right">2023</th>
            <th class="px-6 py-3 text-right">2024</th>
        </tr>
    </thead>
    <tbody class="text-sm divide-y divide-gray-200">
        <tr class="bg-gray-50">
            <td class="px-6 py-1.5">Nodes count</td>
            <td class="px-6 py-1.5 text-right">2064</td>
            <td class="px-6 py-1.5 text-right">2149</td>
        </tr>
        <tr class="bg-white">
            <td class="px-6 py-1.5">Edges count</td>
            <td class="px-6 py-1.5 text-right">13632</td>
            <td class="px-6 py-1.5 text-right">14176</td>
        </tr>
        <tr class="bg-gray-50">
            <td class="px-6 py-1.5">Diameter</td>
            <td class="px-6 py-1.5 text-right">57</td>
            <td class="px-6 py-1.5 text-right">59</td>
        </tr>
        <tr class="bg-white">
            <td class="px-6 py-1.5">Density</td>
            <td class="px-6 py-1.5 text-right">3.201e-03</td>
            <td class="px-6 py-1.5 text-right">3.071e-03</td>
        </tr>
        <tr class="bg-gray-50">
            <td class="px-6 py-1.5">Node betweenness centrality</td>
            <td class="px-6 py-1.5 text-right">7.410e-03</td>
            <td class="px-6 py-1.5 text-right">7.321e-03</td>
        </tr>
        <tr class="bg-white">
            <td class="px-6 py-1.5">Edge betweenness centrality</td>
            <td class="px-6 py-1.5 text-right">1.194e-03</td>
            <td class="px-6 py-1.5 text-right">1.179e-03</td>
        </tr>
        <tr class="bg-gray-50">
            <td class="px-6 py-1.5">Avg shortest path</td>
            <td class="px-6 py-1.5 text-right">1.629e+01</td>
            <td class="px-6 py-1.5 text-right">1.672e+01</td>
        </tr>
        <tr class="bg-white">
            <td class="px-6 py-1.5">Avg area</td>
            <td class="px-6 py-1.5 text-right">5.695e+01</td>
            <td class="px-6 py-1.5 text-right">6.238e+01</td>
        </tr>
    </tbody>
</table>

