<!DOCTYPE html>
<html>
<head>
    <title>Map View</title>

    <style>
        .select2-container {
            width: 100% !important;
        }
        .map-container {
            display: flex;
            height: 400px;
        }
        .map {
            flex: 1;
            border: 1px solid #ddd;
        }
        .grid-layout {
            display: grid;
            grid-template-columns: 300px 1fr;
            height: 100vh;
        }
        .main-content {
            overflow: auto;
        }
    </style>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://unpkg.com/leaflet.sync/L.Map.Sync.js"></script>
</head>
<body class="flex flex-col">

    <!-- Navbar -->
    <nav class="bg-gray-800 p-4 w-full">
        <div class="container mx-auto flex items-center justify-between">
            <div class="flex items-center">
                <a href="/" class="text-gray-300 hover:text-white mr-4">Default</a>
                <a href="/isochrones" class="text-gray-300 hover:text-white">Isochrones</a>
            </div>

            <div class="flex items-center">
                <div class="mr-4">
                    <label for="transfer_time" class="text-gray-300 text-sm">Transfer time (min):</label>
                    <input type="number" id="transfer_time" name="transfer_time" value="5" class="bg-gray-700 text-white rounded border border-gray-600">
                </div>

                <div>
                    <label for="network_kind" class="text-gray-300 text-sm">Network Kind:</label>
                    <select id="network_kind" name="network_kind" class="bg-gray-700 text-white rounded border border-gray-600">
                        <option value="all" selected>Tram + Bus</option>
                        <option value="tram">Tram only</option>
                        <option value="bus">Bus only</option>
                    </select>
                </div>
            </div>
        </div>
    </nav>

    <!-- Content Area -->
    <div class="grid-layout">
        <!-- Left-side Drawer/Form -->
        <div class="bg-gray-100 p-4">
            <form id="map-form" action="/" method="get">
               <div class="mb-4">
                    <label for="starting_stop" class="block text-gray-700 text-sm font-bold mb-2">Starting stop:</label>
                    <select class="select2-container block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="starting_stop" name="starting_stop">
                        <option value="{{ form_data.stop_id }}" selected="selected">
                            {{ form_data.stop_display_name }}
                        </option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="stop_reach_max_time" class="block text-gray-700 text-sm font-bold mb-2">Max Reach Time (min):</label>
                    <div class="flex align-items-center">
                        <input type="range" id="stop_reach_max_time" name="stop_reach_max_time" min="5" max="120" step="5" value="{{ form_data.stop_reach_max_time }}" class="mr-2">
                        <span id="stop_reach_max_time_value" class="text-gray-700 text-sm">15</span> minutes
                    </div>
               </div>

                 <input type="submit" value="Update Map" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            </form>
        </div>

        <!-- Main Content Area -->
        <div class="main-content">
            <!-- Maps -->
            <div class="map-container p-4">
                <div class="map" id="map1">
                    {{ default_map1|safe }}
                </div>
                <div class="map" id="map2">
                    {{ default_map2|safe }}
                </div>
            </div>
        </div>
    </div>

    <!-- Stops search dropdown -->
    <script>
        
    </script>

    <script>
        $(document).ready(function() {
            $('#stop_reach_max_time').on('input', function() {
                $('#stop_reach_max_time_value').text($(this).val());
            });
        });
    </script>

    <!-- Updating maps -->
    <script>
        import { updateMap } from "./scripts";

        $(document).ready(() => {
            $('#map-form').submit(async (event) => {
                event.preventDefault();

                try {
                    const [iso1Response, iso2Response, map1Response, map2Response] = await Promise.all([
                        updateMap('2023', 'iso'),
                        updateMap('2024', 'iso'),
                        updateMap('2023', 'default'),
                        updateMap('2024', 'default')
                    ]);

                    $('#iso_map1').html(iso1Response.map_html);
                    $('#iso_map2').html(iso2Response.map_html);
                    $('#map1').html(map1Response.map_html);
                    $('#map2').html(map2Response.map_html);
                } catch (error) {
                    console.error("Error updating maps:", error);
                }
            });
        });
    </script>
</body>
</html>
